html {
    height: 100%;
}

body {
    min-height: 100%;
    background-color: #eee;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.line {
    fill: none;
    stroke-width: 1.5px;
}

.line:hover, .line.hover {
    stroke-width: 4px;
}

.line0 {
    stroke: steelblue;
}

.legend .line0 {
    fill: steelblue;
}

.line1 {
    stroke: brown;
}

.legend .line1 {
    fill: brown;
}

.line2 {
    stroke: darkgreen;
}

.legend .line2 {
    fill: darkgreen;
}

.line3 {
    stroke: blueviolet;
}

.legend .line3 {
    fill: blueviolet;
}

.line4 {
    stroke: chocolate;
}

.legend .line4 {
    fill: chocolate;
}

.line5 {
    stroke: goldenrod;
}

.legend .line5 {
    fill: goldenrod;
}

.line6 {
    stroke: limegreen;
}

.legend .line6 {
    fill: limegreen;
}

.line7 {
    stroke: mediumorchid;
}

.legend .line7 {
    fill: mediumorchid;
}

.grid .tick {
    stroke: #DDD;
    opacity: 0.7;
}
.grid path {
    stroke-width: 0;
}

.legend {
    padding: 5px;
}

.sidebar {
    font-size: 13px;
    /**
       * 34px is height of standard button (20px + (7px x 2) )
       * so this allows us to put in buttons and search inputs
       */
    line-height: 34px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #333;
}

@media (min-width: 767px) {
    .ues-page {
        min-height: 100%;
    }
    .sidebar {
        height: 100%;
        border-right: 1px solid #333;
        border-bottom: none;
    }
}

.sidebar ul {
    padding-left: 15px;
}

.main {
    padding: 5px 25px 15px 25px;
}

@media (min-width: 767px) {
    .main {
        min-height: 100%;
    }
}

#nav li {
    cursor: pointer;
}

#nav li.hidden > ul {
    max-height: 0;
    overflow: hidden;
}

#nav li.active {
    font-weight: bold;
}

.card {
    width: 100%;
    max-width: 350px;
    border-radius: 4px;
    padding: 15px;
    margin-right: 8px;
    margin-bottom: 8px;
    display: inline-block;
    background-color: #fff;
}

.card .neutral {
    color: #333;
}

.card .ok {
    color: #333;
}

.card .warn {
    color: #EFB73E;
}

.card .bad {
    color: #DF382C;
}

.card .card-title {
    font-size: 16px;
}

.card .card-sub-heading {
    font-size: 11px;
    color: #AAA;
}

.chart {
    background-color: #fff;
    margin-top: 12px;
    padding: 15px;
    border-radius: 4px;
}

.reload {
    width: 1.5em;
    margin-top: 0.7em;
}

.last_updated {
    font-size: smaller;
}
