<html>
<head>
<link rel="stylesheet" type="text/css" href="static/lib/ulysses/public/ulysses.css" media="screen" />
<link rel="stylesheet" type="text/css" href="static/css/dashy-min.css" media="screen" />
</head>
<body>
<div class="ues-page ues-g-r">
<div class="sidebar ues-u-1-5">
    <ul id="nav">
        <li data-page="/summary">Summary</li>
        <li>HAProxy
        <ul data-type="haproxy">
        </ul>
        </li>
    </ul>
</div>
<div class="ues-u-4-5 main">
</div>
</div>
</body>
<script src="/static/lib/jquery/dist/jquery.min.js"></script>
<script src="/static/lib/jqueryui/ui/jquery-ui.js"></script>
<script src="/static/lib/d3/d3.min.js"></script>
<script src="/static/lib/react/react.js"></script>
<script src="/static/js/dashy-min.js"></script>
<script type="text/javascript">
var metrics = [];
var services = {haproxies: []};

var render_url = '/render?format=json&';

function render(qs, callback) {
    $.ajax({url: render_url + qs, dataType: 'json', success: callback});
}

function haproxy_graphs(haproxy) {
    var graphs = [];
    $.each(haproxy.backends, function(i, backend) {
        if (backend.name == 'haproxy_monitoring') {
            return;
        }
        $.each(backend.servers, function(i, server) {
            graphs.push(
              {
                  "target": [
                        "alias(" + server.prefix + "slim.1min.value,\"limit\")",
                        "alias(" + server.prefix + "smax.1min.value,\"max\")",
                        "alias(" + server.prefix + "scur.1min.value,\"current\")"
                  ],
                  "title": haproxy.name + " " + server.name + " backend sessions",
              }
            );
            graphs.push(
              {
                  "target": [
                        "aliasByNode(" + server.prefix + "rate.1min.value,-3)",
                  ],
                  "title": haproxy.name + " " + server.name + " backend rate",
              }
            );
            graphs.push(
              {
                  "target": [
                        "alias(scale(nonNegativeDerivative(" + server.prefix + "dresp.1min.value),0.0166),\"denied\")",
                        "alias(scale(nonNegativeDerivative(" + server.prefix + "eresp.1min.value),0.0166),\"error\")",
                        "alias(scale(nonNegativeDerivative(" + server.prefix + "econ.1min.value),0.0166),\"connection error\")"
                  ],
                  "title": server.name + " backend bad responses",
              }
            );
            graphs.push(
                {
                  "target": [
                    "aliasByNode(scale(nonNegativeDerivative(" + server.prefix + "hrsp_1xx.1min.value),0.0166),-3)",
                    "aliasByNode(scale(nonNegativeDerivative(" + server.prefix + "hrsp_2xx.1min.value),0.0166),-3)",
                    "aliasByNode(scale(nonNegativeDerivative(" + server.prefix + "hrsp_3xx.1min.value),0.0166),-3)",
                    "aliasByNode(scale(nonNegativeDerivative(" + server.prefix + "hrsp_4xx.1min.value),0.0166),-3)",
                    "aliasByNode(scale(nonNegativeDerivative(" + server.prefix + "hrsp_5xx.1min.value),0.0166),-3)",
                    "aliasByNode(scale(nonNegativeDerivative(" + server.prefix + "hrsp_other.1min.value),0.0166),-3)"
                  ],
                  "title": server.name + " backend response codes",
                }
            );
            graphs.push(
                {
                  "target": [
                    "alias(nonNegativeDerivative(" + server.prefix + "wretr.1min.value),\"retries\")",
                    "alias(nonNegativeDerivative(" + server.prefix + "wredis.1min.value),\"redispatches\")"
                  ],
                  "title": server.name + " backend warnings"
                }
            );
        });
        graphs.push(
          {
              "target": [
                    "alias(" + backend.prefix + "qcur.1min.value,\"current\")",
                    "alias(" + backend.prefix + "qmax.1min.value,\"max\")",
              ],
              "title": backend.name + " backend queue",
          }
        );
    });
    return graphs;
}

function graph_haproxy(haproxy, target) {
    $(target).empty();
    $(target).append($("<h1 />", {id: 'title'}));
    $(target).append($("<div />", {id: 'graphs'}));
    $(target).append($("<div />", {id: 'raw'}));
    var graphs = [];
    $("#title").html("HAProxy: " + haproxy.name);
    graphs = haproxy_graphs(haproxy);

    function querystring_graph (graph) {
        var qs = '';
        qs += 'from=-3hour';
        qs += '&title=' + graph.title;
        qs += '&' + $.map(graph.target, function(target) { return 'target=' + target; }).join("&");
        return qs;
    }

    var graph_nodes = $("<div  />");
    $("#graphs").html(graph_nodes);
    $.each(graphs, function(i, graph_info) {
        var url = render_url + querystring_graph(graph_info);
        var holder = $("<div />", {id: "graph_" + i});
        holder.appendTo(graph_nodes);
        var margin = {top: 20, right: 20, bottom: 30, left: 50},
            width = 600 - margin.left - margin.right,
            height = 400 - margin.top - margin.bottom;
        var x = d3.time.scale.utc().range([0, width]);
        var y = d3.scale.linear().range([height, 0]);
        var line = d3.svg.line()
                .x(function(d,i) {
                    return x(new Date(d[1] * 1000)); 
                })
                .y(function(d) {
                    return y(d[0]);
                });
        function makeXAxis() {
            return d3.svg.axis().scale(x).orient('bottom').ticks(5);
        }
        function makeYAxis() {
            return d3.svg.axis().scale(y).orient("left").ticks(5);
        }
        var graph = d3.select("#graph_" + i).append("svg")
                .attr("width", width + margin.left + margin.right)
                .attr("height", height + margin.top + margin.bottom)
                .append("g")
                .attr("transform", "translate("+margin.left+","+margin.top+")");
        graph.append("text")
                .attr("x", (width / 2))             
                .attr("y", 0)
                .attr("text-anchor", "middle")  
                .style("font-size", "16px") 
                .text(graph_info.title);
        var legend = graph.append("g")
                .attr("class", "legend")
                .attr("x", width - 65)
                .attr("y", 25)
                .attr("height", 100)
                .attr("width", 100);
        function draw(data, textStatus, jqxhr) {
            x.domain(d3.extent(data[0].datapoints, function(d) {return new Date(d[1] * 1000);}));
            if (data.length <= 1) {
                y.domain(d3.extent(data[0].datapoints, function(d) {return d[0];}));
            } else {
                var extents = [];
                $.each(data, function(i, dataset) {
                    extents.push(d3.extent(dataset.datapoints, function(d) {return d[0];}));
                });
                y.domain([d3.min(extents, function(d) {return d[0];}), d3.max(extents, function(d) {return d[1];})]);
            }
            graph.append("g")
                  .attr("class", "x axis")
                  .attr("transform", "translate(0,"+height+")")
                  .call(makeXAxis());
            graph.append("g")
                  .attr("class", "y axis")
                  .call(makeYAxis());
            graph.append("g")
                  .attr("class", "grid")
                  .attr("transform", "translate(0,"+height+")")
                  .call(makeXAxis().tickSize(-height, 0, 0).tickFormat(""));
            graph.append("g")
                  .attr("class", "grid")
                  .call(makeYAxis().tickSize(-width, 0, 0).tickFormat(""));
            $.each(data, function(i, dataset) {
                var path = graph.append("path").datum(dataset.datapoints).attr("class", "line line"+i).attr("d", line);
                path.append('text').text(dataset.target);
                function onmouseover() {
                    path.classed('hover', true);
                }
                function onmouseout() {
                    path.classed('hover', false);
                }
                var legend_box = legend.append('g');
                legend_box.append("rect")
                      .attr("x", width - 65)
                      .attr("y", i*25)
                      .attr("width", 10)
                      .attr("height", 10)
                      .attr("class", "line"+i)
                      .on('mouseover', onmouseover)
                      .on('mouseout', onmouseout);
                legend_box.append("text")
                      .attr("x", width - 50)
                      .attr("y", i * 25 + 8)
                      .attr("height",30)
                      .attr("width",100)
                      .text(dataset.target)
                      .on('mouseover', onmouseover)
                      .on('mouseout', onmouseout);
            });
        }
        $.ajax({url: url, dataType: 'json', success: draw});
    });
    $("#raw").text(JSON.stringify(graphs, null, 4));
}

function onUpdatedMetrics(data, textStatus, jqxhr) {
    metrics = data;
    var tree = {};
    $.each(metrics, function(i, metric) {
        var node = tree;
        parts = metric.split('.');
        $.each(parts, function(j, part) {
            if (!node.hasOwnProperty(part)) {
                node[part] = {};
            }
            node = node[part];
        });
    });
    function check_all (current, subtree, prefix) {
        if (subtree.haproxy) {
            var haproxy = {name: current, backends: [], frontends: [], prefix: prefix + current + '.haproxy.'};
            var fill_haproxy = function (current, subtree, prefix) {
                if (subtree.hasOwnProperty('BACKEND')) {
                    backend = {
                        name: current,
                        prefix: prefix + current + '.BACKEND.',
                        servers: [],
                    };
                    $.each(subtree, function(backend_server, server_info) {
                        if (backend_server != 'BACKEND') {
                            backend.servers.push({
                                name: backend_server,
                                prefix: prefix + current + "." + backend_server + ".",
                            });
                        }
                    });
                    haproxy.backends.push(backend);
                }
                if (subtree.hasOwnProperty('FRONTEND')) {
                    frontend = {
                        name: current,
                        prefix: prefix + current + '.FRONTEND.'
                    };
                    haproxy.frontends.push(frontend);
                }
            };
            walk(subtree.haproxy, haproxy.prefix, fill_haproxy);
            services.haproxies.push(haproxy);
        }
    }
    function walk(subtree, prefix, fn) {
        $.each(subtree, function(part, nexttree) {
            fn(part, nexttree, prefix);
            walk(nexttree, prefix + part + ".", fn);
        });
    }
    walk(tree, "", check_all);

    $.each(services.haproxies, function(i, haproxy) {
        var haproxy_nav = $("#nav ul[data-type=haproxy]");
        haproxy_nav.find(".spinner").remove();
        var node = haproxy_nav.find('li[data-prefix="'+haproxy.prefix+'"]');
        if (node.length < 1) {
            node = $("<li />");
            node.data("prefix", haproxy.prefix);
            node.data("page", '/haproxy/' + haproxy.name);
            node.text(haproxy.name);
            node.appendTo(haproxy_nav);
        } else {
            node.data('data', haproxy);
        }
    });
    $(".main").summary('services', services);
}

function get_last_value(datapoints) {
    return datapoints[datapoints.length-1][0];
}

function get_last_values(data) {
    var values = {};
    $.each(data, function(i, target) {
        values[target.target] = get_last_value(target.datapoints);
    });
    return values;
}

function make_nugget(html, object, stat, state) {
    var nugget = $("<div />", {title: stat + " (" + object + ")", class: state}).html(html);
    return nugget;
}

function classify_percentage(percent) {
    var state = 'ok';
    if (percent > 0.98) {
        state = 'bad';
    } else if (percent > 0.9) {
        state = 'warn';
    }
    return state;
}

function make_nugget_for_ratio(a, b, object, stat) {
    var text = a + '/' + b;
    var state = classify_percentage(a/b);
    if (b === 0) {
        text = a;
        state = 'neutral';
    }
    return make_nugget(text, object, stat, state);
}

function onUpdatedMetricsError(jqxhr, textStatus, errorThrown) {
    console.error(errorThrown);
}

$("#nav").delegate("li", "click", function(e) {
    $(this).toggleClass("hidden");
    if ($(this).data("page")) {
        location.hash = $(this).data("page");
    }
    e.stopPropagation();
});

$("#nav ul[data-type]").spinner();

$.ajax({url: "/metrics", dataType: 'json', success: onUpdatedMetrics, error: onUpdatedMetricsError});

$(".main").page_stack();

$(function(){
  $(".main").page_stack('bind');
  $(window).trigger( "hashchange" );
});


</script>
</html>
